<form [formGroup]='form' (ngSubmit)='submit()'>
  <input
    type="text"
    class="border border-gray-200 p-2 w-full"
    placeholder="Product name"
    formControlName='title'
    appFocus
  />

  <!-- *ngIf="title.errors?.minlength && title.touched" -->
  <p class='text-red-600 font-medium mb-2'
    *ngIf="title.errors?.minlength"
  >
    Please enter at least 6 characters. Now {{ title.value?.length }}
  </p>

  <button type='submit' class="px-4 py-2 mt-4 text-white rounded bg-blue-500">Create</button>
</form>
